<div class="container">

    <div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav" ng-show="currentUser">
            <li>
                <form class="navbar-form" ng-submit="upload()">
                    <input type="submit" value="Upload Selected File"/>
                    <input class="file" type="file" ng-file-select="onFileSelect($files)" />
                </form>
            </li>
            <li>
                <div class="navbar-form">
                    <input ng-model="newDirName">
                    <button type="button" ng-click="makeDirectory()">Create</button>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle"><span ng-bind="currentUser.email"></span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a>Total Storage: {{currentUser.numAccounts}} TB</a></li>
                    <li><a ng-click="addAccount()">Add More Flickr Accounts</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

<!--     <table>
        <th>
    <div class:"upload">
        <form ng-submit="upload()">
            <input type="submit" />
            <b>Upload Files</b>
            <input class="file" type="file" ng-file-select="onFileSelect($files)" />
        </form>
    </div>
</th>
<th>
    <div class="mkdir" ng-click="makeDirectory()">
        <div>
            <button type="button">Create directory</button>
        </div>
        <input ng-model="newDirName">
    </div>
</th>
<th>
        <div class="logout" ng-click="logout()"><button type="button">Logout</button></div>
    </th>
    </table> -->
    <scrollable-table class="table" watch="visibleProjects">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width=100 sortable-header col="isd" ng-click="deleteClicked()">
                        <button type="button">Delete Selected</button>
                    </th>
                    <th width=65 sortable-header col="id">Type</th>
                    <th sortable-header ng-click="cdParent()" col="name">Go up (currently in {{currDirName}})</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in nodes" ng-click="clickNode(node.idNode, node.name, node.isDirectory)">
                    <td width=100 ng-click="$event.stopPropagation()">
                        <input class="checkbox" type="checkbox" ng-model="node.clicked"
                            ng-true-value="1" ng-false-value="0">
                    </td>
                    <td width=65>
                        <img ng-show="node.isDirectory" src="img/directory.png">
                        <img ng-show="!node.isDirectory" src="img/file.png">
                    </td>
                    <td>{{ node.name }}</td>
                </tr>
            </tbody>
        </table>
    </scrollable-table>
</div>