<div class="container">
    <div ng-click="cdParent()">{{currDirName}}</div>
    <scrollable-table watch="visibleProjects">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                     <th sortable-header col="name">Name</th>
                     <th sortable-header col="id">idNode</th>
                     <th sortable-header col="isd">isDirectory</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in nodes" ng-click="clickNode(node.idNode, node.name, node.isDirectory)">
                    <td>{{ node.name }}</td>
                    <td>{{ node.idNode }}</td>
                    <td>{{ node.isDirectory }}</td>        
                </tr>
            </tbody>
        </table>
    </scrollable-table>
<!--     <div>
        <label>Select a facility:</label>
        <select ng-model="selected" ng-options="f for f in facilities"></select>
    </div> -->
</div>