<div class="container">
    <div file-input="file" on-change="readFileAndUpload()"></div>
    <div ng-click="cdParent()">{{currDirName}}</div>
    <div ng-click="makeDirectory()">Create a directory</div>
    <input ng-model="newDirName">
    <div ng-click="deleteClicked()">Delete selected</div>
    <scrollable-table watch="visibleProjects">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                     <th sortable-header col="name">Type</th>
                     <th sortable-header col="id">Name</th>
                     <th sortable-header col="isd">Select</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="node in nodes" ng-click="clickNode(node.idNode, node.name, node.isDirectory)">
                    <td>
                        <img ng-show="node.isDirectory" src="img/directory.png">
                        <img ng-show="!node.isDirectory" src="img/file.png">
                    </td>
                    <td>{{ node.name }}</td>
                    <td ng-click="$event.stopPropagation()">
                        <input type="checkbox" ng-model="node.clicked"
                            ng-true-value="1" ng-false-value="0">
                    </td>
                </tr>
            </tbody>
        </table>
    </scrollable-table>
<!--     <div>
        <label>Select a facility:</label>
        <select ng-model="selected" ng-options="f for f in facilities"></select>
    </div> -->
    </div>
</div>