<!doctype = html>
<!-- ante says 'HI' -->
<head>
    <title>Infinite Cloud Storage</title>
</head>

<body>
    <div id="content">
        
        <!--make a picture!-->
        <img id="logoimg" src="img/143.gif"></img>
        
        <div id="buttons">
            <a href="/signup">
                <div id="create" class="button">
                    Register
                </div>
            </a>
            <a href="/login">
                <div id="join" class="button">
                    Login
                </div>
            </a>
        </div>
    </div>
</body>