<form class="form-signin" name="registerForm" role="registration" ng-submit="submit(registerForm)">
  <h2 class="form-signin-heading"><i class="fa fa-user"></i> New User</h2>
  <div class="form-input username">
    <input type="text" class="form-control" placeholder="Username" name="username" ng-model="registerObj.username" autofocus="true"
      ng-minlength="4" ng-maxlength="16" ng-required="true" remote-validated="used">
    <div class="errors" ng-class="{ active: registerForm.username.$invalid && registerForm.username.$dirty }">
      <div class="error ng-hide" ng-show="registerForm.username.$error.minlength">
        <p>Username is too short!</p>
      </div>
      <div class="error ng-hide" ng-show="registerForm.username.$error.maxlength">
        <p>Max username length is 16, please shorten it.</p>
      </div>
      <div class="error ng-hide" ng-show="registerForm.username.$error.used">
        <p>Username is already taken.</p>
      </div>
    </div>
  </div>
  <div class="form-input name">
    <input type="text" class="form-control" placeholder="Real Name" name="name" ng-model="registerObj.name" ng-minlength="4" ng-maxlength="32" ng-required="true">
    <div class="errors" ng-class="{ active: registerForm.name.$invalid && registerForm.name.$dirty }">
      <div class="error ng-hide" ng-show="registerForm.name.$error.minlength">
        <p>Provided name is too short!</p>
      </div>
      <div class="error ng-hide" ng-show="registerForm.name.$error.maxlength">
        <p>Max name length is 32, please shorten it.</p>
      </div>
    </div>
  </div>
  <div class="form-input password">
    <input type="password" class="form-control password" placeholder="Password" name="password" ng-model="registerObj.password" ng-minlength="4" ng-maxlength="16" ng-required="true" password-match="registerObj.password2">
    <input type="password" class="form-control password2" placeholder="Repeat Password" name="password2" ng-model="registerObj.password2">
    <div class="errors" ng-class="{ active: registerForm.password.$invalid && registerForm.password.$dirty }">
      <div class="error ng-hide" ng-show="registerForm.password.$error.match">
        <p>Passwords do not match.</p>
      </div>
      <div class="error ng-hide" ng-show="registerForm.password.$error.minlength">
        <p>For your own safety, use a password longer than 4 characters.</p>
      </div>
      <div class="error ng-hide" ng-show="registerForm.password.$error.maxlength">
        <p>For your own <b>SANITY</b>, use a password shorter than 16 characters.</p>
      </div>
    </div>
  </div>
  <div class="form-input email">
    <input type="email" class="form-control email" placeholder="E-Mail" name="email" ng-model="registerObj.email" ng-required="true" remote-validated="used">
    <div class="errors" ng-class="{ active: registerForm.email.$invalid && registerForm.email.$dirty }">
      <div class="error ng-hide" ng-show="registerForm.email.$error.email">
        <p>E-Mail seems invalid.</p>
      </div>
      <div class="error ng-hide" ng-show="registerForm.email.$error.used">
        <p>E-Mail is already taken.</p>
      </div>
    </div>
  </div>
  <div class="form-input role">
    <select class="form-control" name="role" ng-model="registerObj.role">
      <option value="user" selected>User</option>
      <option value="admin">Administrator</option>
    </select>
  </div>
  <button class="btn btn-lg btn-block" type="submit"
    ng-class="{ 'btn-primary': registerForm.$valid && registerForm.$dirty, 'btn-success': redirect }"
    ng-disabled="registerForm.$invalid || registerForm.$pristine || xhr || redirect">
    <span ng-hide="redirect">Register <i class="fa fa-repeat fa-spin" ng-show="xhr"></i></span>
    <span ng-show="redirect">Redirecting... <i class="fa fa-repeat fa-spin"></i></span>
  </button>
</form>

<div class="container">

    <div class="row">
        <h1 class="text-center login-title">Sign up.</h1>
        <div class="col-sm-6 col-md-4 col-md-offset-4 signup-well">
            <form class="form" name="form" ng-submit="register()" novalidate>
                <div class="form-group"
                     ng-class="{'has-warning': form.email.$dirty}">
                    <input class="form-control"
                           placeholder="Your Email"
                           type="email"
                           name="email"
                           ng-model="user.email"
                           autofocus
                           required/>
                </div>

                <div class="form-group"
                     ng-class="{'has-warning': form.apiKey.$dirty}">
                    <input class="form-control"
                           placeholder="Your Flickr Api key"
                           type="text"
                           name="apiKey"
                           ng-model="user.apiKey"
                           required/>
                </div>

                <div class="form-group"
                     ng-class="{'has-warning': form.apiKeySecret.$dirty}">
                    <input class="form-control"
                           placeholder="Your Api key secret"
                           type="text"
                           name="apiKeySecret"
                           ng-model="user.apiKeySecret"
                           required/>
                </div>

                <div class="form-group"
                     ng-class="{'has-warning': form.firstName.$dirty}">
                    <input class="form-control"
                           placeholder="First Name"
                           type="text"
                           name="firstName"
                           ng-model="user.firstName"
                           required/>
                </div>

                <div class="form-group"
                     ng-class="{'has-warning': form.lastName.$dirty}">
                    <input class="form-control"
                           placeholder="Last Name"
                           type="text"
                           name="lastName"
                           ng-model="user.lastName"
                           required/>
                </div>

                <div class="form-group"
                     ng-class="{'has-warning': form.password.$dirty}">
                    <input class="form-control"
                           placeholder="Password"
                           type="password"
                           name="password"
                           ng-model="user.password"
                           ng-minlength="5"/>
                </div>

                <div class="form-group has-error">
                    <p class="help-block">{{ error }}</p>
                </div>

                <button class="btn btn-lg btn-primary btn-block"
                        type="submit" 
                        ng-disabled="form.$invalid">Sign up</button>
            </form>
        </div>
    </div>
</div>